.modal_bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  position: absolute;
}

.modal {
  overflow-y: auto;
  font-family: Nunito, sans-serif;
  background-color: white;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding: 6px 14px;
  min-width: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal div {
  display: flex;
  gap: 10px;
}

.modal_container {
  font-family: Montserrat, sans-serif;
  display: flex;
  gap: 10vh;
  flex-wrap: wrap;
  margin: 2vh;
}

.flag-container {
  position: relative;
}

.flag-result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}