.timeAndFlag {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 28px;
}

.flagHolder {
  display: flex;
  gap: 10px;
  padding: 4px 16px;
  box-shadow: 0 0 0 5px var(--primary);
  outline: dashed 5px #c4e686;
  border-radius: 12px;
}

.resultText {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Nunito", "sans-serif";
}

.restartButton button {
  cursor: pointer;
  padding: 8px;
  background-color: #c4e686;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: #05386b;
  border: 0;
  border-radius: 8px;
}

.restartButton button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
