.timer {
  border-radius: 10px;
  padding: 0 8px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Nunito", "sans-serif";
  background-color: #c4e686;
  /* overflow: hidden; */
}

.timer::before,
.timer::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -3px;
  border-radius: inherit;
  background: linear-gradient(45deg, var(--secondary), #daa520, #708090);
  background-size: 400%;
  animation: rotation 20s linear infinite;
}

.timer::after {
  filter: blur(10px);
}

@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}
